<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="icon" type="image/png" href="/assets/logo-m.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo-style"><div class="logo">MAS<span>KUY</span></div></a>
        <ul class="nav-links">
            <li><a href="#">Kategori</a></li>
            <li><a href="#">Cari Resepmu</a></li>
            <li><a href="#">Resep Terbaru</a></li>
            <li><a href="#">Artikel</a></li>
        </ul>
        <div class="search-box">
            <form action="#" method="GET">
            <input type="text" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
            </form>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>


    <div class="detail-resep">
      <div class="container-resep">
        <div class="box-image">
            <img src="/uploads/<%= resep.gambar%>" alt="">
        </div>
        <div class="box-desc">
          <div class="resep-desc">
            <h2><%= resep.nama %></h2>
            <p><%= resep.deskripsi %></p>
          </div>
          <div class="icon-desc">
            <div class="box-icon">
              <i class="fas fa-clock">
                <p><%= resep.waktuFormatted %></p>
                <h4>Waktu Memasak</h4>
              </i>              
            </div>
            <div class="box-icon">
              <i class="fas fa-chart-bar">
                <p><%= resep.level %></p>
                <h4>Tingkat Kesulitan</h4>
              </i>
            </div>
            <div class="box-icon">
              <i class="fas fa-utensils">
                <p><%= resep.porsi %> Orang</p>
                <h4>Penyajian</h4>
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="cara-bahan">
      <div class="container-cara-bahan">
        <div class="box-bahan">
            <h3>Bahan</h3>
            <ul class="ingredients-list">
              <% 
              // Memisahkan teks menjadi array berdasarkan baris baru (\n)
              const bahanList = resep.bahan.split('\n').filter(item => item.trim() !== '');
      
              // Menampilkan bahan dalam bentuk list
              bahanList.forEach(bahan => { %>
                  <li><%= bahan %></li>
              <% }) %>
            </ul>
        </div>
        <div class="box-cara">
            <h3>Cara Masak</h3>
            <ul class="cook-list">
              <% 
              // Memisahkan teks menjadi array berdasarkan baris baru (\n)
              const caraList = resep.cara.split('\n').filter(item => item.trim() !== '');
      
              // Menampilkan cara dalam bentuk list
              caraList.forEach(cara => { %>
                  <li><%= cara %></li>
              <% }) %>
            </ul>
        </div>
      </div>
    </div>

    <div class="banner-detail">
        <div class="banner-detail-content">
          <h1>Ayo Belajar Masak, Temukan Resep Masakan Favoritmu Disini</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, in.</p>
          <button class="btn-banner-detail">
            Ayo Jelajahi Resep Terbaru!
          </button>
        </div>
    </div>

    <div class="artikel">
      <div class="artikel-content">
        <h1>Artikel Terbaru</h1>
        <div class="artikel-wrap">
          <% artikelAll.forEach(item => { %>
            <a href="/artikel/<%= item.id %>" class="link-artikel">
              <div class="artikel-box">
                <img src="/uploads/<%= item.gambar %>" alt="">
                <p><%= item.judul %></p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>

    <footer>
        <div class="container">
          <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Maskuy, aplikasi resep masak unggulan, menyajikan koleksi resep bervariasi dari hidangan sehari-hari hingga makanan spesial. Memudahkan pengguna dengan langkah-langkah jelas dan tips berguna untuk menikmati pengalaman memasak yang menyenangkan dan lezat.</p>
            <ul class="sci">
              <li><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-youtube" aria-hidden="true"></i></i></a></li>
              <li><a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact Information</h2>
            <ul class="info">
              <li>
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span>123 Street Name, City, Country</span>
              </li>
              <li>
                <span><i class="fas fa-envelope"></i></span>
                <span>info@example.com</span>
              </li>
              <li>
                <span><i class="fas fa-phone"></i></span>
                <span>+123 456 7890</span>
              </li>
            </ul>
          </div>
        </div>
    </footer>
</body>


</html>