<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="icon" type="image/png" href="/assets/logo-m.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
</head>
<body>
    <nav class="navbar">
        <a href="/" class="logo-style"><div class="logo">MAS<span>KUY</span></div></a>
        <ul class="nav-links">
            <li><a href="#">Kategori</a></li>
            <li><a href="#">Cari Resepmu</a></li>
            <li><a href="#">Resep Terbaru</a></li>
            <li><a href="#">Artikel</a></li>
        </ul>
        <div class="search-box">
            <form action="#" method="GET">
            <input type="text" placeholder="Search..." class="search-input" />
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
            </form>
        </div>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>
    

    <div class="kategori">
      <div class="kategori-content">
        <h1>Resep dengan Kategori <%= namaKategori %></h1>
        <div class="resep-wrap">
          <% resepKategori.forEach((resep) => { %>
            <a href="/detail/<%= resep.id %>" class="resep-box-wrap">
              <div class="resep-box">
                <img src="/uploads/<%= resep.gambar %>" alt="">
                <h3><%= resep.nama %></h3>
                <div class="detail">
                  <span class="detail-icon"><i class="fas fa-clock"></i></span>
                  <span class="detail-text"><%= resep.waktuFormatted %></span>
                  <span class="detail-icon"><i class="fas fa-utensils"></i></span>
                  <span class="detail-text"><%= resep.porsi %> Orang</span>
                </div>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="banner-detail">
        <div class="banner-detail-content">
          <h1>Ayo Belajar Masak, Temukan Resep Masakan Favoritmu Disini</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, in.</p>
          <button class="btn-banner-detail">
            Ayo Jelajahi Resep Terbaru!
          </button>
        </div>
      </div>
    </div>

    <div class="artikel">
      <div class="artikel-content">
        <h1>Artikel Terbaru</h1>
        <div class="artikel-wrap">
          <% artikelAll.forEach(item => { %>
            <a href="/artikel/<%= item.id %>" class="link-artikel">
              <div class="artikel-box">
                <img src="/uploads/<%= item.gambar %>" alt="">
                <p><%= item.judul %></p>
              </div>
            </a>
          <% }) %>
        </div>
      </div>
    </div>

    <footer>
        <div class="container">
          <div class="sec aboutus">
            <h2>About Us</h2>
            <p>Maskuy, aplikasi resep masak unggulan, menyajikan koleksi resep bervariasi dari hidangan sehari-hari hingga makanan spesial. Memudahkan pengguna dengan langkah-langkah jelas dan tips berguna untuk menikmati pengalaman memasak yang menyenangkan dan lezat.</p>
            <ul class="sci">
              <li><a href=""><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href=""><i class="fab fa-youtube" aria-hidden="true"></i></i></a></li>
              <li><a href=""><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="sec quickLinks">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="sec contact">
            <h2>Contact Information</h2>
            <ul class="info">
              <li>
                <span><i class="fas fa-map-marker-alt"></i></span>
                <span>123 Street Name, City, Country</span>
              </li>
              <li>
                <span><i class="fas fa-envelope"></i></span>
                <span>info@example.com</span>
              </li>
              <li>
                <span><i class="fas fa-phone"></i></span>
                <span>+123 456 7890</span>
              </li>
            </ul>
          </div>
        </div>
    </footer>
</body>


</html>